<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	
	
	<context:property-placeholder location="classPath:person.properties"/>
	<!-- 报扫描、只要标注了@Controller @Service @Respository @Component -->
	<!-- <context:componentscan base-package="com.lyp"></context:componentscan>	 -->
	<!-- <bean id="person" class="com.lyp.entiry.Person">
	<property name="name" value="lyp"></property>
	<property name="age" value="28"></property>
	
	</bean> 
	 -->
	 <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

</beans>
